.container {
    border: #ccc solid;
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    width: 570px;
  }

  .sudoku-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
    margin: 10px;
    width: 150px;
  }

  .item {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
  }